#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

img{
 width: 200px;
 height: 200px;


  }
  img:hover {
      filter: sepia(60%);
      transition:0.5s;
    }

body{

  
background: rgba(19,41,205,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(19,41,205,1) 0%, rgba(1,93,213,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(19,41,205,1)), color-stop(100%, rgba(1,93,213,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(19,41,205,1) 0%, rgba(1,93,213,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(19,41,205,1) 0%, rgba(1,93,213,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(19,41,205,1) 0%, rgba(1,93,213,1) 100%);
background: radial-gradient(ellipse at center, rgba(19,41,205,1) 0%, rgba(1,93,213,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1329cd', endColorstr='#015dd5', GradientType=1 );

    
}
h1,h2,h3,h4,p,td,tr,th{
    color: white;
}
.btn{
    background: #000;
}

.formulario{
    background: rgba(19,41,205,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(19,41,205,1) 0%, rgba(1,93,213,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(19,41,205,1)), color-stop(100%, rgba(1,93,213,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(19,41,205,1) 0%, rgba(1,93,213,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(19,41,205,1) 0%, rgba(1,93,213,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(19,41,205,1) 0%, rgba(1,93,213,1) 100%);
background: radial-gradient(ellipse at center, rgba(19,41,205,1) 0%, rgba(1,93,213,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1329cd', endColorstr='#015dd5', GradientType=1 );
    
}